
<!--plantilla-->

<h2>Listado de productos</h2>
<a href="/realtimeproducts">Productos</a>



<!--<ul>-->
<!--    {{#each productos}}-->
<!--        <li>{{title}}</li>-->
<!--    {{/each}}-->
<!--</ul>-->

